* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0%;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    min-width: 100vw;
}



header {
    padding: 1%;
    background: firebrick;
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 0;
    max-width: 100vw;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-evenly;
    
}

nav a {
    text-decoration: none;
    color: blue;
    margin: 0 5px ;
    font-size: 20px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 5px 0px;
    padding-left: 0%;
    max-width: 100vw;
}

main > section {
    margin: 2px 0px;
}

div {
    display: flex;
    flex-direction: column;

}

img {
    padding: 5px;
}



.about {
    line-height: 1.8;
    padding: 2px;
    
    flex: 1 1 0;
    display: flex;
    flex-flow: row wrap;
    max-width: 100vw;
    justify-content: space-around;
    align-content: center;
    background-color: brown;
}

article {
    text-align: center;
}

#aboutimg {
    max-width: 30%;
    height: 50%;
    margin: 5px;
}


.portfolio {
    
    padding: 2px;
    display: flex;
    flex: 1 1 0;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;  
    align-items: center;  
    background-color: brown;
    }

#bigcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

  
.card {
    padding: 10px;
    margin-left: 0%;
    margin-right: 0%;
}

.contact {
    display: flex;
    flex: 1 1 0;
    flex-flow: row wrap;
    justify-content: center;    
    background-color: brown;
    
}

.contactheader {
    width: 100%;
    text-align: center;
}
.contact a {
    text-decoration: none;
}

.contact p {
    padding: 10px 10px;
}


footer {
    display: block;
    height: 5vh;
    
    text-align: center;
}


@media screen and (max-width: 339px) {
    img {
        max-width: 120%;
        height: auto;
    }

    header {
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 0
    }
}